<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EDutel.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C0329572BF9FF9A29E8974F56F5FCD85773D9FEA</string>
				<key>dateExpires</key>
				<string>05/03/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0329572BF9FF9A29E8974F56F5FCD85773D9FEA</string>
						<key>dateExpires</key>
						<string>05/03/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BatchExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>446N8VS944</string>
						<key>name</key>
						<string>Cristian Reyes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0329572BF9FF9A29E8974F56F5FCD85773D9FEA</string>
						<key>dateExpires</key>
						<string>05/03/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KSCrash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>446N8VS944</string>
						<key>name</key>
						<string>Cristian Reyes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0329572BF9FF9A29E8974F56F5FCD85773D9FEA</string>
						<key>dateExpires</key>
						<string>05/03/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>446N8VS944</string>
						<key>name</key>
						<string>Cristian Reyes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0329572BF9FF9A29E8974F56F5FCD85773D9FEA</string>
						<key>dateExpires</key>
						<string>05/03/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>446N8VS944</string>
						<key>name</key>
						<string>Cristian Reyes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0329572BF9FF9A29E8974F56F5FCD85773D9FEA</string>
						<key>dateExpires</key>
						<string>05/03/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>446N8VS944.com.donaumorgen.utel.EDutel.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>446N8VS944</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>446N8VS944.com.donaumorgen.utel.EDutel.NotificationService</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>13751d97-3b76-4372-ae18-4cda9d081a21</string>
						<key>name</key>
						<string>EdutelNotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>446N8VS944</string>
						<key>name</key>
						<string>Cristian Reyes</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>446N8VS944.com.donaumorgen.utel.EDutel</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>446N8VS944</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EDutel.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8db0fd9e-42d2-48a7-9fff-b0adc35da94c</string>
				<key>name</key>
				<string>Edutel</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>446N8VS944</string>
				<key>name</key>
				<string>Cristian Reyes</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
